$h1-font-size: 1.8rem;
$h2-font-size: 1.6rem;
$h3-font-size: 1.4rem;
$h4-font-size: 1.2rem;
$h5-font-size: 1.1rem;
$text-font-size: 1rem;

$font-color-black: #2b2a2c;
$font-color-gray: #6a696b;

$back-color-gray: #fafafa;

$input-border: #acacac;
$input-bg: #fff;
$input-bg-hover: #eeecee;
$input-bg-focus: #eeeeee;

$danger-color: #ca4949;
