$h1-font-size: 2.3rem;
$h2-font-size: 1.8rem;
$h3-font-size: 1.6rem;
$h4-font-size: 1.3rem;
$h5-font-size: 1.2rem;
$h6-font-size: 1.1rem;
$text-font-size: 1rem;

$font-color-black: #2b2a2c;
$font-color-gray: #6a696b;

$border-color: #acacac;

$back-color-gray: #ffffff;

$input-border: $border-color;
$input-bg: #fff;
$input-bg-hover: #eeecee;
$input-bg-focus: #eeeeee;
$input-bg-error: #fcecec;
$input-bg-error-hover: #fce0e0;
$input-bg-error-focus: #fce0e0;

$succes-color: #28a745;

$info-color: #007bff;

$error-color: #dc3545;

$primary-color: #52a3b8;

$default-color: #eeeeee;

$SB-min-w: 3rem;
$SB-max-w: 12rem;
$SB-link-hover: #f6f6f6;
