#root {
  height: 100%;
}
.inner-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  background-color: $back-color-gray;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 5px;
  }
}
