.sidebar {
  width: $SB-min-w;
  height: 100%;
  grid-area: sidebar;
  z-index: 2;

  &__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $SB-min-w + 0.3rem;
    background-color: $back-color-gray;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    transition: width 0.2s linear;

    &:hover {
      width: $SB-max-w;

      &::after {
        background-color: $SB-link-hover;
      }
    }

    &::after {
      content: '';
      width: 0.3rem;
      background-color: $back-color-gray;
      border-right: 1px solid $border-color;
      border-left: 1px solid $border-color;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      transition: background-color 0.2s linear;
    }

    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.15);
      transition: color 0.2s ease;
    }
    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 0;
    }
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 0.4rem;
      height: 0.4rem;
    }
  }

  a {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    color: $font-color-black;
    height: $SB-min-w;
    width: $SB-max-w;
    text-decoration: none;
    transition: background-color 0.2s linear;

    cursor: pointer;

    div {
      height: 100%;
      display: flex;
      align-items: center;

      &:first-child {
        justify-content: center;
        width: $SB-min-w;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      // background-color: $succes-color;
      transition: background-color 0.2s linear;
    }

    &:hover {
      background-color: $SB-link-hover;

      &::before {
        background-color: $primary-color;
      }
    }
  }
}
