.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  white-space: nowrap;
  user-select: none;
  border: 1px solid transparent;
  padding: .42rem .7rem;
  font-size: 1rem;
  line-height: 1.2;
  border-radius: .3rem;
  transition: all .15s ease-in-out;

  & > svg {
    height: 1.3rem !important;
    width: 1.3rem !important;
  }
  & svg + span {
    margin-left: 0.5rem;
  }

  &.btn--icon {
    justify-content: start;
  }
}

.btn-block {
  display: flex;
  width: 100%;
}

.btn + .btn,
.btn + a {
  margin-left: 0.3333rem;
}

.btn-primary {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
    background-color: $primary-color-hover;
    border-color: $primary-color-hover;
  }

  &:focus {
    background-color: $primary-color-focus;
    border-color: $primary-color-focus;
    outline: none;
  }
}

.btn-default {
  color: $font-color-black;
  background-color: $default-color;
  border-color: $default-color;

  &:hover {
    background-color: $default-color-hover;
    border-color: $default-color-hover;
  }

  &:focus {
    background-color: $default-color-focus;
    border-color: $default-color-focus;
    outline: none;
  }
}
