.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .3rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
}

.btn + .btn {
  margin-left: 0.3333rem;
}

.btn-primary {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
    background-color: $primary-color-hover;
    border-color: $primary-color-hover;
  }

  &:focus {
    background-color: $primary-color-focus;
    border-color: $primary-color-focus;
    outline: none;
  }
}

.btn-default {
  color: $font-color-black;
  background-color: $default-color;
  border-color: $default-color;

  &:hover {
    background-color: $default-color-hover;
    border-color: $default-color-hover;
  }

  &:focus {
    background-color: $default-color-focus;
    border-color: $default-color-focus;
    outline: none;
  }
}
