.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;

  &.hidden {
    display: none !important;
  }
  &.error {
    input {
      background-color: $input-bg-error;
    }
    &:focus-within {
      input {
        background-color: $input-bg-error-focus;
      }
    }
    &:hover {
      input {
        background-color: $input-bg-error-hover;
      }
    }
  }

  label {
    font-size: 0.83rem;
    font-weight: 300;
    padding: 0.3rem;
  }

  input {
    font-size: 0.92rem;
    font-weight: 300;
    width: 100%;
    padding: 0.59rem;

    border-radius: 3px;
    border: 1px solid $input-border;
    background-color: $input-bg;

    outline: none;

    transition: background-color 0.2s linear;
  }

  &:focus-within {
    input {
      background-color: $input-bg-hover;
    }
  }
  &:hover {
    input {
      background-color: $input-bg-hover;
    }
  }
}
