.notification {
  position: fixed;
  bottom: 10px;
  // left: 50%;
  // transform: translateX(-50%);
  right: 10px;
  max-width: 380px;
  // width: 100%;
  padding: 15px 25px 15px 15px;
  display: flex;
  align-items: center;

  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #acacac;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);

  &__icon-close {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &__icon-info {
    margin-right: 0.5rem;
  }
}