.title-page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1.2rem 0;

  &__title {
    font-size: $h1-font-size;
    font-weight: 600;
  }

  &__title + &__children {
    margin-left: 1.2rem;
  }

  &__children {
    display: flex;
    flex: 1;
    align-items: center;
  }
}