.projects {

  &__items-wrapper {
    margin: 2.5rem 0;
    padding: 0;
  }

  &__item {
    overflow: hidden;
    list-style: none;
    display: inline-block;
    width: 15rem;
    height: 15rem;
    margin: 0.5rem;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    cursor: pointer;

    a {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      bottom: 0;
      transition: background-color 0.3s linear;

      z-index: 2;
    }

    &:hover {

      a {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__item-title {
    font-weight: 600;
    font-size: $h4-font-size;
    padding: 0.7rem 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__item-text {
    line-height: 2;
    font-weight: 400;
    font-size: 0.95rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
}

.tasks {
  flex-grow: 1;

  &__wrapper {
    display: flex;
    align-items: flex-start;
    overflow-y: hidden;
    overflow-x: auto;
    user-select: none;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 0.8rem;

    @extend %with-scroll;

    &::-webkit-scrollbar {
      height: 0.55rem;
    }
  }

  &__column {
    max-width: 260px;
    min-width: 260px;
    max-height: 100%;
    padding: 0 0.45rem;
    margin: 0 0.4rem;
    border-radius: 6px;

    display: flex;
    flex-direction: column;

    background-color: $SB-link-hover;

    &-header {
      padding: 0.8rem 0.3rem;
      font-size: $h4-font-size;
      font-weight: 700;
    }

    &-content {
      flex: 1;
      overflow-y: auto;
      padding-right: 0.3rem;

      @extend %with-scroll;
    }

    &-footer {
      padding: 0.8rem 0.3rem;
    }
  }

  &__task {
    background-color: #fff;
    border-radius: 6px;
    padding: 0.6rem 0.3rem;

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    &-header {
      font-size: $h6-font-size;
      font-weight: 700;
      margin-bottom: 8px;
    }
  }
}
